<form method="post" action="{{ path('app_jugement_delete', {'id': jugement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jugement.id) }}">
    <button class="btn">Delete</button>
</form>
