{% extends 'base.html.twig' %}

{% block title %}New Jugement{% endblock %}

{% block body %}
    <h1>Créer nouveau Jugement</h1>

    {{ include('jugement/_form.html.twig') }}

    <a href="{{ path('app_jugement_index') }}">back to list</a>
{% endblock %}
