{% extends 'base.html.twig' %}

{% block title %}Greffier Page{% endblock %}

{% block body %}
<style>
.back{
            margin-top:50%;

    margin-left:45px;
    margin-right:45px;
            color:#aa80ff;
                        background-color:#eee6ff;

                    font-size:2 0px;

        }
         .back:hover{
            color:#884dff;
            text-decoration:underline;

        }
        .div{
            display:flex;
            justify-content:center;
            align-items:center;
        }
</style>
    <h1>Greffier Page</h1>

    <div class="div">
        <a class="back" href="{{ path('app_audiance_index') }}" class="btn btn-primary">Liste des audiences</a>
        <a class="back" href="{{ path('app_dossier_index') }}" class="btn btn-secondary">Liste des dossier</a>
    </div>
{% endblock %}
