<form method="post" action="{{ path('app_audiance_delete', {'id': audiance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audiance.id) }}">
    <button class="btn">Delete</button>
</form>
