{% extends 'base.html.twig' %}

{% block title %}Edit Audiance{% endblock %}

{% block body %}
    <h1>Edit Audiance</h1>

    {{ include('audiance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_audiance_index') }}">back to list</a>

    {{ include('audiance/_delete_form.html.twig') }}
{% endblock %}
