{% extends 'base.html.twig' %}

{% block title %}Audiance index{% endblock %}

{% block body %}
    <h1>Audiance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room</th>
                <th>CourtDate</th>
                <th>Dossier</th>
            </tr>
        </thead>
        <tbody>
        {% for audiance in audiances %}
            <tr>
                <td>{{ audiance.id }}</td>
                <td>{{ audiance.room }}</td>
                <td>{{ audiance.courtDate ? audiance.courtDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ audiance.dossier.titre }}</td>

             
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
