{% extends 'base.html.twig' %}

{% block title %}New Audiance{% endblock %}

{% block body %}
    <h1>Create new Audiance</h1>

    {{ include('audiance/_form.html.twig') }}

    <a href="{{ path('app_audiance_index') }}">back to list</a>
{% endblock %}
